 <mat-toolbar color="primary">
    <mat-toolbar-row>
      
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert </mat-icon>
        Menu
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item  routerLink="">
          <mat-icon>dialpad</mat-icon>
          <span >Remisión</span>
        </button>
        <button mat-menu-item routerLink="lista" >
          <mat-icon>compost</mat-icon>
          <span>  Lista</span>
        </button>
      </mat-menu>     
     
    </mat-toolbar-row>

   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   